appdirs
CacheControl
certifi
chardet
colorama
contextlib2
coreapi
coreschema
distlib
distro
Django
django-filter
djangorestframework
djangorestframework-discovery
gunicorn
html5lib
idna
ipaddr
itypes
Jinja2
lockfile
MarkupSafe
msgpack
packaging
pep517
progress
pyparsing
pytoml
pytz
requests
retrying
six
sqlparse
uritemplate
urllib3
webencodings
whitenoise